[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
rdkit-pypi = "~=2020.9.5.2"
numpy = "*"
pandas = "*"
tqdm = "*"
umap-learn = "*"
imbalanced-learn = "*"
networkx = "*"
torch = "~=1.12.1"
matplotlib = "~=3.7.4"
Pillow = "~=9.5.0"
pyqt5 = "*"
cairosvg = "*"
seaborn = "*"
ipykernel = "*"
jupyter = "*"
shap = "*"

[requires]
python_version = "3.9"
